<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.demo.mapper.TestUserMapper">

    <resultMap id="BaseResultMap" type="com.springboot.demo.entity.TestUser">
        <id column="ID" property="id" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
    </resultMap>

    <select id="selectTestUserByMap" parameterType="map" resultMap="BaseResultMap">
        SELECT
        ID,
        USER_NAME,
        PASSWORD
        FROM
        TEST_USER
        WHERE 1=1
        <if test="id != null and id != ''">
            AND ID = #{id}
        </if>
        <if test="userName != null and userName != ''">
            AND USER_NAME = #{userName}
        </if>
    </select>

    <update id="batchUpdateTestUser" parameterType="java.util.List">
        <foreach collection="testUserList" item="item" index="index" open="" close="" separator=";">
            UPDATE TEST_USER
            <set>
                <if test="item.userName != null">
                    USER_NAME = #{item.userName}
                </if>
            </set>
            WHERE ID = #{item.id}
        </foreach>
    </update>

</mapper>